name: Run Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Build binary
        run: zig build

      - name: Run tests
        run: zig build test --summary all
